<head>
  <meta charset="UTF-8" />
  <title>MVC-Todos</title>
  {{! Link to custom css }}
     <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<h1 id="heading">ORM SEQUELIZE TODO APP</h1>
  {{{body}}}

  <script src="/js/signup.js"></script>
</body>