<hr>
<h1>Log In</h1>
<p>If you are already signed up please use Login form.</p>
 <a href="/users"> <button> ← Want To Sign Up</button> </a>
 <br>
     <br>
   <!-- Log-in form -->
  <form id="loginForm">
    <input id="loginUsername" class="password"  type="text" name="username" placeholder=" login - username"/>
    <input id="loginPassword" class="password"  type="password" name="password" placeholder=" login - password"/>
    <button id="loginBtn">Log In</button>
  </form>
   <script src="/js/login.js"></script>