<hr>
<h1>Sign Up</h1>
    <p>If you are new user please use Sign up form.</p>
   
    <a href="/login"> <button> â† Already Signed Up</button> </a>
     <br>
     <br>
  <!-- Sign-up form -->

  <form id="signupForm">
    <input id="signupUsername"  class="password"  type="text" name="username" placeholder=" signup - username"/>
    <input id="signupPassword"  class="password"  type="password" name="password" placeholder=" signup - password"/>
    <button id="signupBtn">Sign Up</button> 
  </form>
<hr>

