

<body>
{{#if loggedInUser}}
<div class="container">
 <h1 class="welcome">Welcome {{ capitalizeFirstLetter loggedInUser.username }}</h1>
  <button id="logout" class="logout-btn">Log Out</button>
</div>
 
  <ul class="userList">
    {{#each users}}
      {{> list_render_partials}}  
    {{/each}}
  </ul>
{{else}}
  <h1>Sign up / Log In</h1>

  <!-- Sign-up form -->
  <form id="signupForm">
    <input id="signupUsername"  class="password"  type="text" name="username" placeholder=" signup - username"/>
    <input id="signupPassword"  class="password"  type="password" name="password" placeholder=" signup - password"/>
    <button id="signupBtn">Sign Up</button> 
  </form>
   <!-- Log-in form -->
  <form id="loginForm">
    <input id="loginUsername" class="password"  type="text" name="username" placeholder=" login - username"/>
    <input id="loginPassword" class="password"  type="password" name="password" placeholder=" login - password"/>
    <button id="loginBtn">Log In</button>
  </form>
{{/if}}
</body>

